@font-face {
    font-family: ANefelSereke;
    src: url(/saudi_vat_invoice_insta/static/src/fonts/A_Nefel_Sereke.ttf);
}
@font-face {
    font-family: Cairo;
    src: url(/saudi_vat_invoice_insta/static/src/fonts/Cairo-Regular.ttf);
}
